body {
    background-color: #191970;
    color: #FAFAD2;
}

.heading {
  background-image:url("http://tours.tourfactory.com/tours/media/scene/big2/00/15/41/39/15413926.jpg");
  background-repeat: no-repeat;
  height: 500px;
}

.heading h1 {
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
}

.section1 {
  color: white;
  position: relative;
  background-image: url("https://static.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  height: 800px;
  width: 800px;
}

.section1 h2 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.section2 {
  color: white;
  position: relative;
  background-image: url("https://static.pexels.com/photos/7539/pexels-photo.jpeg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  height: 800px;
  width: 800px;
}

.section2 h2 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.section3 {
  color: white;
  position: relative;
  background-image: url("https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg");
  background-size: 800px 600px;
  background-repeat: no-repeat;
  height: 800px;
  width: 800px;
}

.section3 h2 {
  margin: 0;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.heading h1 {
  color: white;
  font-size: 100px;
}

img {
  width: 100%;
  height: auto;
}

.top50 {
  height:50px;
}

.main2 img {
  width: 500px;
  height:auto;
}
