
<div class="main" ng-controller="HomeController">

<div class="pageTitle">
  <h2>Where is your kitchen taking you today?</h2>
</div>
<div class="row-fluid">
  <div class="span4">
    <div class= "section1" ng-click="redirect('Italy')">
      <h2>Italy</h2>
      </div>
  </div>
  <div class="span4">
    <div class= "section2" ng-click="redirect('America')">
      <h2>America</h2>
    </div>
    </div>
    <div class="span4">
    <div class= "section3" ng-click="redirect('Mexico')">
      <h2>Mexico</h2>
    </div>
  </div>
  </div>
</div>
