<!doctype html>
<html>

<div class="main2" ng-controller="TopicController">
  <h1>{{currentPlace.name}}</h1>
  <h2>What meal are you planning for today?</h2>
  <div class="breakfast" ng-click="redirect('Italy', 'Breakfast')">
    <h3>Breakfast</h3>
    <img ng-src="{{currentPlace.breakfastUrl}}">
  </div>

  <div class="lunch" ng-click="redirect('Italy', 'Lunch')">
    <h3>Lunch</h3>
    <img ng-src="{{currentPlace.lunchUrl}}">
  </div>

  <div class="dinner" ng-click="redirect('Italy', 'Dinner')">
    <h3>Dinner</h3>
    <img ng-src="{{currentPlace.dinnerUrl}}">
  </div>

  <div class="dessert" ng-click="redirect('Italy', 'Dessert')">
    <h3>Dessert</h3>
    <img ng-src="{{currentPlace.dessertUrl}}">
  </div>
</div>

</html>
